
@import "../node_modules/bootstrap/scss/bootstrap";


#container{
    background-color: red;
    height: 100vh;
}

.nevzat{
    font-size: 36px;
}
.slider_area{
    background-image: url("https://themewagon.github.io/jony/img/banner/banner.png");
    background-size: cover;
    opacity: 0.9;
    
}
.definition{
    font-size:48px;
}
.download-area{
    background-color: #311E25;
}
.services_area{
    background-color: #402525;
    color:#fff;
}
.single_services{
    border:1px solid yellow;
}
.gallery_area{
    background-color: #311E25;
}
.footer_area{
    background-image:url("https://themewagon.github.io/jony/img/banner/banner.png") ;
}