
@import "../node_modules/bootstrap/scss/bootstrap";


$textColor1: #000;
$textColor2: #fff;
$textColor3:$warning;
$bg-color1: $info;
$bg-color2: $secondary;
$bg-color3: #7069c5;





body {
     transition: background-color 0.5s, color 0.5s;
   }

// index.html
.nevzat{
    font-size: 36px;
}
.slider_area{
    background-color:$bg-color1;
    background-size: cover;
    opacity: 0.9;
}
.download-area{
    background-color: $bg-color2;
}
.services_area{
    background-color: $bg-color3;
    color:#fff;
}
.single_services{
    border:1px solid yellow;
}
.gallery_area{
    background-color: $bg-color2;
}
.footer_area{
    background-color: $bg-color1;
    opacity: 0.9;
}
.hidden{
    display: none;
  }
  .text-justify{
    text-align: justify;
  }
  .text-indent{
    text-indent: 16px;
  }
 
 //about.html
 .about{
 	background-color: $bg-color3;
 	text-align: justify;
 }
  //Dark mode classes
.dark-mode {
        background-color: #121212;
        color: #ffffff;
      }
.toggle-container {
        position: sticky;
        top: 20px;
        right: 20px;
        width: 60px;
        height: 30px;
        background-color: #f4f4f4;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        cursor: pointer;
        transition: background-color 0.5s;
      }
      .toggle-container.dark {
        background-color: #1b1e21;
      }
      .toggle-icon {
        font-size: 20px;
        transition: transform 0.5s, color 0.5s;
      }
      .toggle-icon.moon {
        color: #f1c40f;
      }
      .toggle-icon.sun {
        color: #f39c12;
      }
      .move-right {
        transform: translateX(30px);
      }