*{
  margin: 0;
  padding: 0;
  list-style: none;
 border: 1px solid;
  box-sizing: border-box;
  font-family: sans-serif,'Times New Roman', Times, serif
}
body{
  
}
.bg{
  
  object-fit: contain;
  max-width: 100%;
  height:100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
  position:fixed;
}
.container{
  display: flex;
  flex-direction: column;
}
.container .title{
  background-color:red;
  
}
.container .title .title-wrapper ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 90px;
  position:fixed;
}
.container .title .title-wrapper ul li{
  text-align: center;
}
.container .title .title-wrapper ul li img{
  width: 30px;
}
.container .title .title-wrapper ul li p{
  font-size: 24px;
  margin-top: 5px;
  color: white;
}
/*______________main_____________*/

.container .main{
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin-top: 90px;
}
.container .main .col-1{
 width: 33vw;
}
.container .main .col-1 .header{
  border: 3px solid;
}
.container .main .col-1 .header .header-wrapper{
  
}
.container .main .col-1 .header .header-wrapper .img-wrapper{
  
}
.container .main .col-1 .header .header-wrapper .img-wrapper img{
  object-fit:cover;
  width:100%;
  height:300px;
  object-position: 50% 38%;
  border-radius: 50%;
}
.container .main .col-2 .cards{
 display:grid;
 grid-template-columns: auto auto;
 grid-row-gap:10px;
 width: 67vw;
}
.container .main .col-2 .card .card-wrapper{
  
}
.container .main .col-2 .card .card-wrapper .icon-wrapper{
}
.container .main .col-2 .card .card-wrapper .icon-wrapper a img{
 max-width: 100%;
}

/*________________footer_______________*/

.container .footer{
  background: #00FFCA;
  opacity: 0.3;
  height: 10vh;
}