*{
  margin: 0;
  padding: 0;
  border: 1px solid
}
.container{
  background-image: url("./image/joshua-earle-9idqIGrLuTE-unsplash.jpg");
  height: auto;
  background-repeat: no-repeat;
 
  
}
.container .header .header-wrapper{
  width: 100vw;
  height: 20vh;
}
.container .header .header-wrapper .img-wrapper{
  
}
.container .header .header-wrapper .img-wrapper img{
  object-fit:cover;
  width:100px;
  height: 100px;
  object-position: 50% 38%;
}