*{
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid
}
.container{
  display: flex;
  flex-direction: column;
}
.container .title{
  
}
.container .title .title-wrapper{
  
}
.container .title .title-wrapper ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.container .title .title-wrapper ul li{
  text-align: center;
}
.container .header .header-wrapper{
  width: 100vw;
  height: 20vh;
}
.container .header .header-wrapper .img-wrapper{
  
}
.container .header .header-wrapper .img-wrapper img{
  object-fit:cover;
  width:100px;
  height: 100px;
  object-position: 50% 38%;
}